button {
  cursor: pointer;
  padding: 16px;
}

.perfil {
  width: 150px;
  height: auto;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 20px;
  border: 2px solid #000;
  border-radiun: 14px;
}
